*{
    margin:0;
    padding:0;
    font-family:微软雅黑,serif;
}
html{
    font-size:62.5%;
}

    /*header-S*/
#warp{
    width:100%;
    max-width:1920px;
    height:157%;
    margin:0 auto;
}
.clear{
    clear:both;
}
#header{
    width:100%;
    height:auto;
}
#top-box{
    width:100%;
    height:2%;
    background-color:#fff;
}
#top-box p{
    display:block;
    width:50%;
    float:left;
    font-size:1.4em;
    color:#29b078;
    margin-left:18.9%;
    line-height:2;
}
#top-logo{
    position:relative;
    margin-left:75.3%;
    margin-top:.5%;
}
#main-nav{
    width:100%;
    color:#fff;
    background-color:#29b078;
}
#main-nav ul{
    width:38.2%;
    margin-left:61.8%;
    list-style:none;
    text-align:center;
    overflow:hidden;

}
#main-nav ul a{
    text-decoration: none;
    font-size:1.6em;
    color:#fff;
}
#main-nav ul li{
    display:block;
    padding:4.18% 5%;
    float:left;
    border-bottom:5px solid #29b078;

}

#main-nav li:hover {border-bottom:5px solid #fff;}
#main-nav+img{
    max-width:1920px;
    width:100%;
}
/*content-S*/
#content{
    width:100%;
    background-color:#fafafa;
    padding:1% 0;
}
.M-nav{
    width:81.1%;
    margin-top:2%;
    margin-left:18.9%;
    color:#000;
    float:left;
}
.M-nav dd{
    float:left;
}
.M-nav dd:last-child{color:#29b078;}
.sidebar-nav{
    float:left;
    width:18.9%;
    margin-top:1.5%;
    margin-left:18.9%;
    background:#fff;
    text-align:center;

}
.sidebar-nav ul{
    width:100%;
    border:1px solid #e6e6e6;
    border-radius:.5em;
    box-shadow: 0 4px 4px 2px #e6e6e6;
    list-style: url("../images/ico_05.png");
}
.sidebar-nav p{
    font-size:1.6em;
    font-weight:600;
    padding:6% 0;
    border-bottom:1px solid #e6e6e6;
}
.sidebar-nav li{
    display: list-item;
    font-size:1.4em;
    margin: 11.8421% 0 11.8421% 42.7632%;
    color:#29b078;
    text-align:left;
    cursor: pointer;
}
.sidebar-nav li a{
    color:#29b078;
    text-decoration: none;
}
.sidebar-nav li:hover{
    color:#ff650e;
    list-style: url("../images/ico_06.png");}
/*main-content-S*/
.main-content{
    width:45.36%;
    float:left;
    margin-top:1.5%;
    margin-left:1.35%;
    border:1px solid #e6e6e6;
    border-radius:0.5em;
    box-shadow:0 4px 4px 2px #e6e6e6;
    background-color:#fff;
}
.content-tittle{
    float:left;
    border-bottom:1px solid #e6e6e6;
}
.content-tittle img{
    width:100%;
    max-width:190px;
    float:left;
    margin-top:3.5%;
    margin-left:4.6%;
    margin-bottom:3.8%;
    background-position:center left;

}
.content-tittle p{
    font-size:1.4em;
    margin:3.3% 7% 0 1.9%;
    color:#999;
}
.company p{
    float:left;
    font-size:1.4em;
    color:#999;
    text-indent: 2em;
    margin:4.5% 7.5%;
}
.company p:last-child{margin-bottom:16%;}
/*footer-S*/
#footer{
    width:100%;
    text-align:center;
    float:left;
}
.footer-top ul{
    float:left;
    width:81.1%;
    margin-left:18.9%;

}
.footer-top ul li{
    float:left;
    font-size:1.4em;
    color:#999;
    width:5%;
    margin-right:2%;
}
.footer-top{
    float:left;
    width:100%;
    padding:1% 0 1%;
    background-color:#fff;
}
.footer-bottom{
    float:left;
    font-size:1.6em;
    color:#fff;
    width:100%;
    padding:5% 0;
    background-color:#29b078;
    overflow:hidden;
    position:relative;
}
.footer-bottom ul{
    position: absolute;
    left:45%;
    top:45%;
    font-size:1em;
    list-style:none;
}

.footer-bottom ul li{
    float:left;
    margin-left:20px;

}
@media only screen and (max-width: 479px){
    html{font-size:30%;}
    #top-logo{width:25%;}
    #top-logo img{
        width:25%;
    }
    #main-nav ul{
        margin-left:5%;
        width:80%;
    }
    .M-nav{margin-left:5%;}
    .sidebar-nav{
        margin-left:5%;
        width:30%;
    }
    .main-content{
        width:60%;
    }
    .content-tittle img{
        width:60%;
    }
    .content-tittle p{
        font-size:1.4em;
        margin:3.3% 7% 3.3% 7.5%;
        color:#999;
    }
    .sidebar-nav li{
        margin-left:25%;
    }
    .footer-top ul{
        width:90%;
        margin-left:10%;
    }
    .footer-top ul li{
        width:20%;
        margin:0;
        list-style:none;
    }
    .footer-bottom{
        padding:30% 0;
    }
    .footer-bottom ul{
        left:13%;
        top:20%;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
    html{font-size:62.5%;}
    #top-logo{width:25%;}
    #top-logo img{
        width:20%;
    }
    #main-nav ul{
        margin-left:5%;
        width:80%;
    }
    .M-nav{margin-left:5%;}
    .sidebar-nav{
        margin-left:5%;
        width:30%;
    }
    .main-content{
        width:60%;
    }
    .content-tittle img{
        width:60%;
    }
    .content-tittle p{
        font-size:1.4em;
        margin:3.3% 7% 3.3% 7.5%;
        color:#999;
    }
    .sidebar-nav li{
        margin-left:25%;
    }
    .footer-top ul{
        width:90%;
        margin-left:10%;
    }
    .footer-top ul li{
        width:20%;
        margin:0;
        list-style:none;
    }
    .footer-bottom{
        padding:15% 0;
    }
    .footer-bottom ul{
        left:16%;
        top:20%;
    }
}
@media screen and (min-width: 768px) and (max-width: 959px){
    html{font-size:62.5%;}
    #top-logo{width:25%;}
    #top-logo img{
        width:15%;
    }
    #main-nav ul{
        margin-left:5%;
        width:80%;
    }
    .M-nav{margin-left:5%;}
    .sidebar-nav{
        margin-left:5%;
        width:30%;
    }
    .main-content{
        width:60%;
    }
    .content-tittle img{
        width:60%;
    }
    .content-tittle p{
        font-size:1.4em;
        margin:3.3% 7% 3.3% 7.5%;
        color:#999;
    }
    .sidebar-nav li{
        margin-left:25%;
    }
    .footer-top ul{
        width:90%;
        margin-left:10%;
    }
    .footer-top ul li{
        width:20%;
        margin:0;
        list-style:none;
    }
    .footer-bottom{
        padding:15% 0;
    }
    .footer-bottom ul{
        left:16%;
        top:20%;
    }
}
